@import '../../style/_main.scss';

.Footer{
	width : 100%;
	padding-top : 100px;
	background-color : $color-background;
	
	.topWrapper{
		display : flex;
		justify-content : space-around;
		width : 450px;
		margin : 0 auto;
		
		.info-item{
			margin : 0;
			
			font-size : 0.85rem;
			font-family: 'Nanum Barun Gothic';
			
			a{
				color : rgba(0, 0, 0, 0.65);
				text-decoration : none;
			}
		}
	}
	
	.middleWrapper{
		display : flex;
		justify-content : center;
		font-family: 'Nanum Barun Gothic';
		margin-top : 2rem;
		
		.label-title{
			font-family : inherit;
			font-size : 0.85rem;
			margin : 0;
		}
		
		.label-email{
			font-family : inherit;
			font-size : 0.85rem;
			margin : 0;
			margin-left : 1rem;
		}
		
	}
	
	.bottomWrapper{
		display : flex;
		justify-content : center;
		font-family: 'Nanum Barun Gothic';
		margin-top : 0.8rem;
		
		.image{	
			height : 16px;
		}
		
		.copyright{
			font-family : inherit;
			font-size : 0.85rem;
			margin : 0;
			margin-left : 1rem;
		}
		
		.strong{
			font-weight : bold;
		}
	}
}